<%- include('partials/header') %>
<div class="container">
  <header>
    <h1>Sign Up for Neuroo</h1>
  </header>

  <form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required> &nbsp

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>&nbsp

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>&nbsp

    <button type="submit" class="signup-btn">Sign Up</button>
  </form>
</div>
</body>
</html>